* {
    margin: 0;
    padding: 0;
}

body {
    font-family: century gothic;
    background-color: rgb(44, 48, 48);
}

.avd-login {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.137);
    backdrop-filter: blur(10px);
}

.avd-box-login {
    z-index: 1;
    background-color: white;
    width: 90%;
    max-width: 60vh;
    padding-bottom: 50px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.box-header {
    width: 100%;
    height: 15vh;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    background-color: black;
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0.202);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-header h1 {
    font-size: 2em;
    color: white;
}

.avd-login-input {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.avd-login-input li {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 10px;
    width: 100%;
    padding: 0;
}

.avd-login-input li i {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 3px;
    text-align: left;
    font-size: 12px;
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    width: fit-content;
    height: 25px;
}

.avd-login-input li input {
    z-index: 2;
    display: flex;
    width: 100%;
    outline: 1px solid rgba(0, 0, 0, 0.346);
    border: none;
    padding: 12px 10px;
    padding-left: 45px;
    background-color: transparent;
    border-radius: 5px;
    transition: 0.2s ease;
}

.avd-login-input li input:focus {
    outline: 1px solid black;
}

.avd-login-input li input:focus~label,
.avd-login-input li input:valid~label {
    z-index: 10;
    margin-bottom: 40px;
    opacity: 1;
}

.avd-login-input label {
    opacity: 0.5;
    background-color: white;
    position: relative;
    padding: 5px;
    border-radius: 50px;
    z-index: -1;
    position: absolute;
    text-align: left;
    margin-left: 35px;
    font-size: 12px;
    transition: 0.2s ease;
}

.avd-login-input ul {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 10px;
}

.avd-login-input ul p {
display: flex;
justify-content: center;
}

.avd-login-input li button {
    position: relative;
    border: none;
    outline: none;
    background-color: black;
    border-radius: 50px;
    color: white;
    padding: 10px;
    width: 100%;
    font-weight: bold;
    font-family: century gothic;
}